<header>
  <h1>
    
    <a routerLink="/dashboard">Drink Management</a>
  </h1>
</header>

<router-outlet></router-outlet>

<footer>
  <h2>Menu</h2>
    <nav>
        <ul>
            <li>
                <a routerLink="/dashboard">Dashboard</a>
            </li>
            <li>
                <a routerLink="/settings">Settings</a>
            </li>
        </ul>
    </nav>
    <p>Powered by 
        <a href="http://altsportstats.com/" target="_blank" rel="noopener noreferer">
          Alt Stats</a></p>

          <p>
              <em>v0.5 - June, 2019</em>
              </p>
</footer>
