<h2>Hello, {{ currentUser.displayName }}</h2>
    <section id="status">
        <p id="youre_ok">
          You can still have <strong><span>{{ drinksLeft }}</span> more drink(s)</strong> today.
        </p>
        
          <p id="be_careful">
            You had <strong><span>3</span> drink(s) more than you said you would</strong>. Be careful with your life!
        </p>
       
    </section>


<button type="button" (click)="authService.SignOut()">Sign Out</button>


<button type="button" (click)="create()">I had a drink</button>

<section id="stats">
<div class="stats_content">
<h2>
        Drink Stats
      </h2>
<table>
    <thead>
    <tr><th>Recent Drink #</th><th>How Long Since?</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let drink of drinks; let i = index">
        <td>{{ i }}</td>
        <td app-drinks [drink]="drink"></td>
    </tr>
</tbody>
</table>
</div>
</section>